.table {
    display: table;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left:0px;
}

.cell {
    border: 0px solid white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.login_div{
    
}

.base {
    color: white;
    text-decoration: none;
}
